.player-image-container {
    box-shadow: none;
    background: none;
    
    .cricket-player-image {
        border: 2px solid black;
        padding: 10px;
        margin: 5px;
        background: linear-gradient(orange, greenyellow);
        color: white;
        border-radius: 30px;
        box-shadow: none;
        display: flex;
        flex-direction: column;

        img {
            height: 600px;
            width: 100%;
            border: 2.5px solid #1103d4;
            border-radius: 30px;
        }
    }
}

.team-logo-cylinder {
    position: absolute;
    margin-top: 200px;
    margin-left: 1250px;
    scale: 1.3;
}