.team-scorecard {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;

    .expandable-section-header {

        h3 {
            background-color: black;
            color: white;
            opacity: 0.5;
        }
    }

    tbody tr.total-score {
        td:first-child {
            background-color: black;
            color: white;
            opacity: 0.5;
        }
    }

    .extra-batting-info {
        margin: 5px;
        padding: 10px;

        .fall-of-wicket-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border: 2px solid black;
            border-radius: 5px;
        }

        .did-not-bat-details {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border: 2px solid black;
            border-radius: 5px;
        }
    }
}
