.team-image-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 420px;
    border: 2px solid black;
    box-shadow: none;

    p{
        background: linear-gradient(blue, black);
        color: white;
        font-size: 30px;
        margin: 10px;
        border-radius: 10px;
    }

    img {
        background-color: honeydew;
        border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
    }
}