.cricket-data {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

h1 {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

ul {
    margin-top: 10px;
    margin-bottom: 30px;
}

li {
    margin-left: 20px;
    margin-top: 10px;
}
