.match-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-details-table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

th.match-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #0074d9;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

td:first-child {
    font-weight: bold;
    background-color: #f5f5f5;
}

.team-score-card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}
