.top-player-cards {
    border: 2px solid black;
    border-radius: 5px;
    position: relative; 

    .name-header {
        position: absolute;
        border: 2px solid white;
        border-radius: 10px;
        font-size: 35px;
        font-weight: bold;
        background-color: black;
        color: white;
        margin-top: 500px;
        margin-left: 10px;
        padding-left: 5px;
        width: fit-content;
        z-index: 5;
    }

    .stat-number {
        position: absolute;
        font-size: 75px;
        font-weight: bold;
        margin-top: 380px;
        padding-left: 5px;
        width: fit-content;
        text-align: center;
        border: 2px solid white;
        border-radius: 10px;
        background: linear-gradient(black, blue);
        color: white;
        padding: 0px 10px;
        z-index: 5;
    }

    .team-logo {
        position: absolute;
        margin-top: 300px;
        margin-left: 150px;
    }
}