.stat-row {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 10px;
    box-shadow: none;
    background: none;

    .single-stat-title {
        font-size: 50px;
        background: linear-gradient(darkred, black);
        font-weight: 700;
        border: 4px solid white;
        border-radius: 10px 30px;
        color: white;
    }

    .single-stat-value {
        font-size: 50px;
        font-weight: bolder;
        border: 4px solid white;
        border-radius: 10px 30px;
        background: linear-gradient(black, blue);
        color: white;
    }

    .text-3d {
        text-shadow: 2px 2px 2px rgba(72, 255, 0, 0.982),
                     4px 4px 4px rgba(169, 89, 23, 0.737),
                     6px 6px 6px rgba(0, 0, 0, 0.1);
      }
}

;