<div class="match-header">
    <img src="" />
    <h3 style="
            border-width: 2px;
            text-align: center;
            color: black;
            width: 85%;
            background-color:yellow;
            margin: 10px;
            padding: 10px;
            text-align: center;">
        *#*MatchTitle*#*
    </h3>
</div>