div{
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ff8533;
}
