<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="TableBasicstyles__Table-sc-1btx7es-1 kCqUpa">
        <thead>
            <tr>
                <th>Date</th>
                <th>Match</th>
                <th>Time (CET)</th>
                <th>Group</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jul 20, 2023</td>
                <td>New Zealand v Norway</td>
                <td>08:00</td>
                <td>Group A</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>Jul 20, 2023</td>
                <td>Australia v Republic of Ireland
                </td>
                <td>11:00</td>
                <td>Group B</td>
                <td>Stadium Australia</td>
            </tr>
            <tr>
                <td>Jul 20, 2023</td>
                <td>Nigeria v Canada</td>
                <td>03:30</td>
                <td>Group B</td>
                <td>Melbourne Rectangular Stadium</td>
            </tr>
            <tr>
                <td>Jul 21, 2023,</td>
                <td>Philippines v Switzerland</td>
                <td>06:00</td>
                <td>Group A</td>
                <td>Dunedin Stadium</td>
            </tr>
            <tr>
                <td>Jul 21, 2023</td>
                <td>Spain v Costa Rica</td>
                <td>08:30</td>
                <td>Group C</td>
                <td>Wellington Regional Stadium</td>
            </tr>
            <tr>
                <td>Jul 22, 2023</td>
                <td>United States v Vietnam</td>
                <td>02:00</td>
                <td>Group E</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>Jul 22, 2023</td>
                <td>Zambia v Japan </td>
                <td>08:00</td>
                <td>Group C</td>
                <td>Waikato Stadium</td>
            </tr>
            <tr>
                <td>Jul 22, 2023</td>
                <td>England v Haiti</td>
                <td>10:30</td>
                <td>Group D</td>
                <td>Brisbane Stadium</td>
            </tr>
            <tr>
                <td>Jul 22, 2023
                </td>
                <td>Denmark v China
                </td>
                <td>13:00</td>
                <td>Group D</td>
                <td>Perth Rectangular Stadium
                </td>
            </tr>
            <tr>
                <td>Jul 23, 2023
                </td>
                <td>Sweden v South Africa
                </td>
                <td>06:00</td>
                <td>Group G</td>
                <td>Wellington Regional Stadium</td>
            </tr>
            <tr>
                <td>Jul 23, 2023
                </td>
                <td>Netherlands v Portugal
                </td>
                <td>08:30</td>
                <td>Group E</td>
                <td>Dunedin Stadium
                </td>
            </tr>
            <tr>
                <td>Jul 23, 2023
                </td>
                <td>France v Jamaica
                </td>
                <td>13:00</td>
                <td>Group F</td>
                <td>Sydney Football Stadium</td>
            </tr>
            <tr>
                <td>Jul 24, 2023
                </td>
                <td>Italy v Argentina</td>
                <td>07:00</td>
                <td>Group G</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>Jul 24, 2023
                </td>
                <td>Germany v Morocco
                </td>
                <td>09:30</td>
                <td>Group H</td>
                <td>Melbourne Rectangular Stadium
                </td>
            </tr>
            <tr>
                <td>Jul 24, 2023
                </td>
                <td>Brazil v Panama
                </td>
                <td>12:30</td>
                <td>Group F</td>
                <td>Hindmarsh Stadium</td>
            </tr>
            <tr>
                <td>Jul 25, 2023
                </td>
                <td>Colombia v South Korea
                </td>
                <td>03:00</td>
                <td>Group H</td>
                <td>Sydney Football Stadium
                </td>
            </tr>
            <tr>
                <td>25 Jul, 2023</td>
                <td>New Zealand v Philippines</td>
                <td>06:30</td>
                <td>Group A</td>
                <td>Wellington Regional Stadium</td>
            </tr>
            <tr>
                <td>25 Jul, 2023</td>
                <td>Switzerland v Norway</td>
                <td>09:00</td>
                <td>Group A</td>
                <td>Waikato Stadium</td>
            </tr>
            <tr>
                <td>26 Jul, 2023</td>
                <td>Spain v Zambia</td>
                <td>08:30</td>
                <td>Group C</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>26Jul, 2023</td>
                <td>Japan v Costa Rica</td>
                <td>06:00</td>
                <td>Group C</td>
                <td>Dunedin Stadium</td>
            </tr>
            <tr>
                <td>26 Jul, 2023,</td>
                <td>Canada v Republic of Ireland</td>
                <td>13:00</td>
                <td>Group B</td>
                <td>Perth Rectangular Stadium</td>
            </tr>
            <tr>
                <td>27 Jul, 2023</td>
                <td>United States v Netherlands</td>
                <td>02:00</td>
                <td>Group E</td>
                <td>Wellington Regional Stadium</td>
            </tr>
            <tr>
                <td>27 Jul, 2023</td>
                <td>Portugal v Vietnam</td>
                <td>08:30</td>
                <td>Group E</td>
                <td>Waikato Stadium</td>
            </tr>
            <tr>
                <td>27 Jul, 2023</td>
                <td>Australia v Nigeria</td>
                <td>11:00</td>
                <td>Group B</td>
                <td>Brisbane Stadium</td>
            </tr>
            <tr>
                <td>28 Jul, 2023</td>
                <td>England v Denmark</td>
                <td>09:30</td>
                <td>Group D</td>
                <td>Sydney Football Stadium</td>
            </tr>
            <tr>
                <td>28 Jul, 2023</td>
                <td>Argentina v South Africa</td>
                <td>01:00</td>
                <td>Group G</td>
                <td>Dunedin Stadium</td>
            </tr>
            <tr>
                <td>28 Jul, 2023</td>
                <td>China v Haiti</td>
                <td>12:30</td>
                <td>Group D</td>
                <td>Hindmarsh Stadium</td>
            </tr>
            <tr>
                <td>29 Jul, 2023</td>
                <td>Sweden v Italy</td>
                <td>08:30</td>
                <td>Group G</td>
                <td>Wellington Regional Stadium</td>
            </tr>
            <tr>
                <td>29 Jul, 2023</td>
                <td>France v Brazil</td>
                <td>11:00</td>
                <td>Group F</td>
                <td>Brisbane Stadium</td>
            </tr>
            <tr>
                <td>29 Jul, 2023</td>
                <td>Panama v Jamaica </td>
                <td>13:30</td>
                <td>Group F</td>
                <td>Perth Rectangular Stadium</td>
            </tr>
            <tr>
                <td>30 Jul, 2023</td>
                <td>Germany v Colombia</td>
                <td>10:30</td>
                <td>Group H</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>30 Jul, 2023</td>
                <td>South Korea v Morocco </td>
                <td>11:00</td>
                <td>Group H</td>
                <td>Hindmarsh Stadium</td>
            </tr>
            <tr>
                <td>30 July, 2023</td>
                <td>Norway v Philippines</td>
                <td>08:00</td>
                <td>Group A</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>30 July, 2023</td>
                <td>Switzerland v New Zealand</td>
                <td>08:00</td>
                <td>Group A</td>
                <td>Dunedid Stadium</td>
            </tr>
            <tr>
                <td>31 July, 2023</td>
                <td>Canada v Australia </td>
                <td>11:00</td>
                <td>Group B</td>
                <td>Melbourne Rectangular Stadium</td>
            </tr>
            <tr>
                <td>31 July, 2023</td>
                <td>Japan v Spain</td>
                <td>08:00</td>
                <td>Group C</td>
                <td>Wellington Regional Stadium
                </td>
            </tr>
            <tr>
                <td>31 July, 2023</td>
                <td>Costa Rica v Zambia</td>
                <td>08:00</td>
                <td>Group C</td>
                <td>Waikato Stadium</td>
            </tr>
            <tr>
                <td>31 July, 2023</td>
                <td>Republic of Ireland v Nigeria </td>
                <td>11:00</td>
                <td>Group B</td>
                <td>Brisbane Stadium</td>
            </tr>
            <tr>
                <td>1 Aug, 2023</td>
                <td>Portugal v United States </td>
                <td>08:00</td>
                <td>Groun E</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>1 Aug, 2023</td>
                <td>Vietnam v Netherlands </td>
                <td>08:00</td>
                <td>Group E</td>
                <td>Dunedid Stadium</td>
            </tr>
            <tr>
                <td>1 Aug, 2023</td>
                <td>Haiti v Denmark</td>
                <td>12:00</td>
                <td>Group D</td>
                <td>Perth Rectangular Stadium</td>
            </tr>
            <tr>
                <td>1 Aug, 2023</td>
                <td>China v England</td>
                <td>11:30</td>
                <td>Group D</td>
                <td>Hindmarsh Stadium</td>
            </tr>
            <tr>
                <td>2 Aug, 2023</td>
                <td>Panama v France</td>
                <td>11:00</td>
                <td>Group F</td>
                <td>Sydney Football Stadium</td>
            </tr>
            <tr>
                <td>2 Aug, 2023</td>
                <td>Jamaica v Brazil</td>
                <td>11:00</td>
                <td>Group F</td>
                <td>Melbourne Rectangular Stadium</td>
            </tr>
            <tr>
                <td>2 Aug, 2023</td>
                <td>South Africa v Italy </td>
                <td>08:00</td>
                <td>Group G</td>
                <td>Wellington Regional Stadium
                </td>
            </tr>
            <tr>
                <td>2 Aug, 2023</td>
                <td>Argentina v Sweden</td>
                <td>08:00</td>
                <td>Group G</td>
                <td>Waikato Stadium</td>
            </tr>
            <tr>
                <td>3 Aug, 2023</td>
                <td>South Korea v Germany</td>
                <td>11:00</td>
                <td>Group H</td>
                <td>Brisbane Stadium</td>
            </tr>
            <tr>
                <td>3 Aug, 2023</td>
                <td>Morocco v Colombia </td>
                <td>07:00</td>
                <td>Group H</td>
                <td>Perth Rectangular Stadium</td>
            </tr>
            <tr>
                <td>5 Aug, 2023</td>
                <td>Group A Winner v Group C Runner-up</td>
                <td>06:00</td>
                <td>RO16 1</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>5 Aug, 2023</td>
                <td>Group C Winner v Group A Runner-up</td>
                <td>09:00</td>
                <td>RO16 2</td>
                <td>Wellington Regional Stadium</td>
            </tr>
            <tr>
                <td>6 Aug, 2023</td>
                <td>Group E Winner v Group G Runner-up</td>
                <td>03:00</td>
                <td>RO16 3</td>
                <td>Sydney Football Stadium</td>
            </tr>
            <tr>
                <td>6 Aug, 2023</td>
                <td>Group G Winner v Group E Runner-up </td>
                <td>10:00</td>
                <td>RO16 4</td>
                <td>Melbourne Rectangular Stadium</td>
            </tr>
            <tr>
                <td>7 Aug, 2023</td>
                <td>Group D Winner v Group B Runner-up</td>
                <td>08:30</td>
                <td>RO16 6</td>
                <td>Brisbane Stadium</td>
            </tr>
            <tr>
                <td>7 Aug, 2023</td>
                <td>Group B Winner v Group D Runner-up</td>
                <td>11:30</td>
                <td>RO16 5</td>
                <td>Stadium Australia, Sydney</td>
            </tr>
            <tr>
                <td>8 Aug, 2023</td>
                <td>Group H Winner v Group F Runner-up</td>
                <td>09:00</td>
                <td>RO16 8</td>
                <td>Melbourne Rectangular Stadium</td>
            </tr>
            <tr>
                <td>8 Aug, 2023</td>
                <td>Group F Winner v Group H Runner-up</td>
                <td>12:00</td>
                <td>RO16 7</td>
                <td>Hindmarsh Stadium</td>
            </tr>
            <tr>
                <td>11 Aug, 2023</td>
                <td>RO16 2 v RO16 4</td>
                <td>08:30</td>
                <td>QF B</td>
                <td>Wellington Regional Stadium</td>
            </tr>
            <tr>
                <td>11 Aug, 2023</td>
                <td>RO16 1 v RO16 3</td>
                <td>02:00</td>
                <td>QF A</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>12 Aug, 2023</td>
                <td>RO16 5 v RO16 7</td>
                <td>08:00</td>
                <td>QF C</td>
                <td>Brisbane Stadium</td>
            </tr>
            <tr>
                <td>12 Aug, 2023</td>
                <td>RO16 6 v RO16 8</td>
                <td>12:30</td>
                <td>QF D</td>
                <td>Stadium Australia</td>
            </tr>
            <tr>
                <td>15 Aug, 2023</td>
                <td>QF A v QF B</td>
                <td>09:00</td>
                <td>Semi-final 1</td>
                <td>Eden Park</td>
            </tr>
            <tr>
                <td>16 Aug, 2023</td>
                <td>QF C v QF D</td>
                <td>11:00</td>
                <td>Semi-final 2</td>
                <td>Stadium Australia</td>
            </tr>
            <tr>
                <td>19 Aug, 2023</td>
                <td>Losers SF A v Losers SF B</td>
                <td>11:00</td>
                <td>Third place play-off</td>
                <td>Lang Park, Brisbane</td>
            </tr>
            <tr>
                <td>20 Aug, 2023</td>
                <td>Winners SF A v Winners SF B</td>
                <td>09:00</td>
                <td>Final</td>
                <td>Stadium Australia, Sydney</td>
            </tr>
        </tbody>
    </table>
</body>

</html>